*{
	margin: 0;
	padding: 0;
}

#header{
	width: 1100px;
	height: 65px;
	background: #f2f2f2;
	margin: 0 auto;
}

#header .logo{
	float: left;
	margin: 13px 0px 0px 47px;
}

#header .nav{
	float: right;
}

#header .nav ul li{
	list-style: none;
	float: left;
	margin-right: 40px;
	margin-top: 31px;
	
}

#header .nav ul li a{
	color: #595959;
	font-size: 16px;
	text-decoration: none;
}



#banner{
	width: 1100px;
	height: 423px;
	/* background: blue; */
	margin: 0 auto;
}


#body1{
	width: 1100px;
	height: 347px;
	background: purple;
	margin: 0 auto;
}

#body1 .veiw1{
	/* width: 534px; */
	width: 484px;
	height: 347px;
	padding-left: 50px;
	padding-right: 25px;
	background: #f2f2f2;
}
#body1 .view1 .section0 {
	width: 470px;
	height: 70px;
	float: left;
}
#body1 .veiw1 .section1 {
	width: 470px;
	height: 124px;
	float: left;

}

#body1 .veiw1 .section2 {
	width: 470px;
	height: 120px;
	float: left;
}

#body1 .veiw1 .font1{
	width: 120px;
	color: #00b4ef;
	float: left;
}


#body1 .veiw1 .font2{
	width: 340px;
	color: #646464;
	float: right;
	font-size: 12.5px;
	line-height: 20px;
}


#body2{
	width: 1100px;
	height: 368px;
	background: black;
	margin: 0 auto;
}

#bottom{
	width: 1100px;
	height: 230px;
	background: white;
	margin: 0 auto;
}