*{
	margin: 0;
	padding: 0;
}

#header{
	width: 1100px;
	height: 66px;
	background: #f2f2f2;
	margin: 0 auto;
}

#header .logo{
	float: left;
	margin: 13px 0px 9px 47px;
}

#header .nav{
	float: right;
	margin: 30px 0px 15px 0px;
}

#header .nav ul li{
	list-style: none;
	float: left;
	margin-right: 40px;
	
}

#header .nav ul li a{
	color: #595959;
	font-size: 16px;
	text-decoration: none;
}



#banner{
	width: 1100px;
	height: 423px;
	background: skyblue;
	margin: 0 auto;
}

#body1{
	width: 1100px;
	height: 347px;
	background: purple;
	margin: 0 auto;
}

#body2{
	width: 1100px;
	height: 368px;
	background: black;
	margin: 0 auto;
}

#bottom{
	width: 1100px;
	height: 230px;
	background: white;
	margin: 0 auto;
}